CSS


body{
    background-color: rgb(0, 169, 215);
    margin: 0 10px 0 10px;
    
}
header{
    background-color: rgb(0, 169, 215);
    color: antiquewhite;
    height: 100px;
    padding: 1em;
}

h2{
    color: antiquewhite;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin: 0;
}

footer{
    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding: 0.1em;
    font-size: 22px;
    padding: 0.5em;
    font-weight: 700;
}

select{
    background-color: white;
    font-size: 17px;
    color: rgb(0, 169, 215);
    border-radius: .4em;
}


#contenido{
    background-color: silver;
    margin: 1em auto;
    width: min(40em, 100%);
    padding: 1em;
    border-radius: .5em;
    border: 2px solid rgb(0, 169, 215);
    box-shadow: 0px 10px 15px 0 grey;

}

#btnLlenar{
    background-color: darkcyan;
    font-size: 17.5px;
    color: white;
    font-family:  Georgia;
    border-radius: .4em;
}

#btnLlenar:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(0, 169, 215);
}

.letras{
    font-size: 20px;
    text-align: left;
    text-decoration: solid;
    color: rgb(0, 169, 215);
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}